#mainHeader{
        font-family: monospace;
        text-align: center;
        font-size: 7em;
        font-weight: 500;
        color:rgb(0, 0, 0);
    
        background-size: cover;
        background-position: center;

        background-image: url('../../../public/background/art-background.jpg');
    
        padding: 30px 0px 30px 0px;
}

#About{
    text-align: center;
    margin:0px;
    padding:0px;
}

#About div{
    /* border:solid black 1px; */
}