#contact{
    margin:0px;
    padding: 0px;

    flex-grow: 1;

    background-image: url('../../../public/background/Background_contact.jpg');
    background-size: cover;
    background-position: center;
}

#contact a:link{
    text-decoration: none;
}

#mainHeader{
    text-align: center;
    text-decoration-line: underline;
}

#contactContent{
    margin-top:10px;
    padding: 25px;
/* 
    border: solid black 2px; */
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.53);
}
