#contact{
    flex-grow: 1;
}

#contact a:link{
    text-decoration: none;
}

#contactHeader{
    font-family: monospace;
    text-align: center;
    font-size: 7em;
    font-weight: 500;
    color:rgb(0, 0, 0);
    
    background-image: url('../../../public/background/art-background11.jpg');
    background-size: cover;
    background-position: center;

    padding: 30px 0px 30px 0px;
}

.contactContent{
    margin-top:20px;
    margin-bottom:20px;
    padding: 25px;

    border-bottom: 1px solid black;
    
}

.contactText{
    text-align: center;
    padding: 30px
}


@media screen and (max-width: 448px){
    #contactHeader{
        margin: 0px;
        padding: 30px 0px 30px 0px;
        font-size: 20vw;
    }
}

