#home {
    background-image: url('../../public/background/home-background2.jpg');
    opacity: 1;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
  }