#nav {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
  }
  
  #nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #nav li {
    margin-right: 42px;
  }
  
  #nav a {
    color: #333;
    text-decoration: none;
  }
  
  #nav a:hover {
    color: #007bff;
  }  

.active {
    font-weight: bold;
    color: #007bff;
}
